[submodule "proc-cave-game"]
	path = proc-cave-game
	url = https://github.com/bandaloo/proc-cave-game.git
[submodule "analog-inspired-shader"]
	path = analog-inspired-shader
	url = https://github.com/bandaloo/analog-inspired-shader.git
[submodule "feedback-mini-proj"]
	path = feedback-mini-proj
	url = https://github.com/bandaloo/feedback-mini-proj
[submodule "iqp-site"]
	path = iqp-site
	url = https://github.com/bandaloo/iqp-site.git
